@model shop.code.LoginModel
@{ ViewBag.Title = "Index"; }

<!DOCTYPE html>
<html>
<head>
    <title>Login in to website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="180x180" href="~/asset/favicon/android-chrome-192x192.png">
    <link href="~/Content/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Views/Home/Index.cshtml">
    
</head>
<body>
    <header style=" min-height: 46px;">
    </header>

    <div class="container">
        <div class="login-form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                <h1>ĐĂNG NHẬP VÀO WEBSITE</h1>
                <div class="input-box">
                    <i>Tài khoản:</i>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placehold = "UserName" })
                    

                </div>
                <div class="input-box">
                    <i>Mật khẩu:</i>
                    @Html.TextBoxFor(model => model.password, new { @class = "form-control", @placehold = "Password", @type = "password" })

                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.RememberMe)
                        Nhớ tôi
                    </label>

                </div>

                <p class="account"> <a style="float:right; " class="new-account2" href="/createlogin">Tạo tài khoản?</a></p>
                <div class="btn-box">

                    <button type="submit" class="submit">
                        Đăng nhập
                    </button>
                    <button class="out"> <a class="text-out" href="/Home">Thoát</a></button>
                </div>
            }
            
        </div>
    </div>



    <footer>
    </footer>
</body>

</html>

